#**AI BASED HIRING PREDICTION SYSTEM**

# **#TASK 1: LOAD AND UNDERSTAND DATASET**

# ***1.Import Libraries:***

In [179]:
import numpy as np
import pandas as pd
import re

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.metrics import accuracy_score, classification_report

print("Libraries Imported Successfully")

Libraries Imported Successfully

#***2.Load Data***

In [180]:

df = pd.read_csv("/run/AI-Based Hiring Prediction System.csv")
df.head()

,Resume_ID,Name,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
0,1,Ashley Ali,"TensorFlow, NLP, Pytorch",10,B.Sc,NaN,AI Researcher,Hire,104895,8,100
1,2,Wesley Roman,"Deep Learning, Machine Learning, Python, SQL",10,MBA,Google ML,Data Scientist,Hire,113002,1,100
2,3,Corey Sanchez,"Ethical Hacking, Cybersecurity, Linux",1,MBA,Deep Learning Specialization,Cybersecurity Analyst,Hire,71766,7,70
3,4,Elizabeth Carney,"Python, Pytorch, TensorFlow",7,B.Tech,AWS Certified,AI Researcher,Hire,46848,0,95
4,5,Julie Hill,"SQL, React, Java",4,PhD,NaN,Software Engineer,Hire,87441,9,100

#***3.Display Data***

#*.First 5 Rows*

In [181]:
df.head()

,Resume_ID,Name,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
0,1,Ashley Ali,"TensorFlow, NLP, Pytorch",10,B.Sc,NaN,AI Researcher,Hire,104895,8,100
1,2,Wesley Roman,"Deep Learning, Machine Learning, Python, SQL",10,MBA,Google ML,Data Scientist,Hire,113002,1,100
2,3,Corey Sanchez,"Ethical Hacking, Cybersecurity, Linux",1,MBA,Deep Learning Specialization,Cybersecurity Analyst,Hire,71766,7,70
3,4,Elizabeth Carney,"Python, Pytorch, TensorFlow",7,B.Tech,AWS Certified,AI Researcher,Hire,46848,0,95
4,5,Julie Hill,"SQL, React, Java",4,PhD,NaN,Software Engineer,Hire,87441,9,100

#*.Last 5 Rows*

In [182]:
df.tail()

,Resume_ID,Name,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
995,996,Brenda Williams,"Cybersecurity, Linux, Ethical Hacking",0,B.Sc,NaN,Cybersecurity Analyst,Reject,114364,9,60
996,997,Colleen Hicks,"Deep Learning, Machine Learning",0,MBA,Deep Learning Specialization,Data Scientist,Reject,103294,5,45
997,998,Michelle Molina,"TensorFlow, NLP",0,B.Tech,Google ML,AI Researcher,Hire,113855,9,65
998,999,Danielle Horn,"Linux, Networking, Cybersecurity, Ethical Hacking",8,PhD,AWS Certified,Cybersecurity Analyst,Hire,83146,10,100
999,1000,Chad Collins,"SQL, Machine Learning, Python, Deep Learning",7,M.Tech,Deep Learning Specialization,Data Scientist,Hire,119474,3,100

#*.Random samples*

In [183]:
df.sample(5)

,Resume_ID,Name,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
704,705,Sylvia Rogers,"Networking, Cybersecurity, Ethical Hacking, Linux",7,B.Tech,Deep Learning Specialization,Cybersecurity Analyst,Hire,100153,6,100
139,140,Jamie Robertson,"Ethical Hacking, Cybersecurity, Networking, Linux",3,MBA,Google ML,Cybersecurity Analyst,Hire,93303,1,65
900,901,Benjamin Gray,"Networking, Ethical Hacking, Cybersecurity, Linux",2,MBA,NaN,Cybersecurity Analyst,Reject,60745,0,40
748,749,Jessica Porter,"NLP, Pytorch, TensorFlow",2,PhD,Deep Learning Specialization,AI Researcher,Reject,47573,3,60
408,409,Timothy Fitzgerald,"Networking, Linux",3,MBA,NaN,Cybersecurity Analyst,Hire,97811,6,70

#***4. WRITE A SHORT EXPLANATION***

# *.What type of data is present?*

Type of data present:

The dataset contains candidate resume information
like skills, experience, education, certifications,
salary expectation, and recruiter decision.

# *.Which column will be used as the target?*

The Recruiter Decision column will be used as the target variable.
It will be converted into numerical form:

.Hire = 1

.Reject = 0

 # #**TASK 2:BASIC DATA INSPECTION**

 # ***Shape(Rows & Columns)***

In [184]:
df.shape

(1000, 11)

#***Columns Names***

In [185]:
df.columns

Index(['Resume_ID', 'Name', 'Skills', 'Experience (Years)', 'Education',
       'Certifications', 'Job Role', 'Recruiter Decision',
       'Salary Expectation ($)', 'Projects Count', 'AI Score (0-100)'],
      dtype='object')

#***. Data Types***

In [186]:
df.dtypes

Resume_ID                  int64
Name                      object
Skills                    object
Experience (Years)         int64
Education                 object
Certifications            object
Job Role                  object
Recruiter Decision        object
Salary Expectation ($)     int64
Projects Count             int64
AI Score (0-100)           int64
dtype: object

#***.Value Counts***

In [187]:
df["Recruiter Decision"].value_counts()

Recruiter Decision
Hire      812
Reject    188
Name: count, dtype: int64

#***Summary Statistics***

In [188]:
df.describe()

,Resume_ID,Experience (Years),Salary Expectation ($),Projects Count,AI Score (0-100)
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,500.500000,4.896000,79994.486000,5.13300,83.950000
std,288.819436,3.112695,23048.472549,3.23137,20.983036
min,1.000000,0.000000,40085.000000,0.00000,15.000000
25%,250.750000,2.000000,60415.750000,2.00000,70.000000
50%,500.500000,5.000000,79834.500000,5.00000,100.000000
75%,750.250000,8.000000,99583.250000,8.00000,100.000000
max,1000.000000,10.000000,119901.000000,10.00000,100.000000

 # *.Explain why data inspection is important before model training.*
  
Data inspection helps us understand the dataset structure, data types,
and missing values before training the model.

It ensures the data is clean and properly formatted, which
improves model accuracy and prevents errors during training.

# #T**ASK 3: DATA CLEANING & PREPROCESSING**

#***1.Drop Columns***

In [189]:
df.drop(columns=['Resume_ID', 'Name', 'AI Score (0-100)'], inplace=True, errors='ignore')

#***2.Convert Target Column***

In [190]:
df["Recruiter Decision"] = df["Recruiter Decision"].map({
    "Hire":1,
    "Reject":0
})

#***3.Check Missing Values***

In [191]:
df.isnull().sum()

Skills                      0
Experience (Years)          0
Education                   0
Certifications            274
Job Role                    0
Recruiter Decision          0
Salary Expectation ($)      0
Projects Count              0
dtype: int64

# **#TASK 4: TEXT FEATURE ENGINEERING**

#***Combine Text Columns***

In [192]:
df['combined_text'] = df['Skills'].astype(str) + " " + \
                      df['Certifications'].astype(str) + " " + \
                      df['Job Role'].astype(str)

#***Clean Text***

In [193]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-z\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df['combined_text'] = df['combined_text'].apply(clean_text)

display(df[['combined_text']].head())

                                       combined_text
0           tensorflow nlp pytorch nan ai researcher
1  deep learning machine learning python sql goog...
2  ethical hacking cybersecurity linux deep learn...
3  python pytorch tensorflow aws certified ai res...
4               sql react java nan software engineer

#*Explain why text cleaning is necessary before vectorization.*

Text cleaning is an important step before applying techniques like TF-IDF Vectorization because raw text data usually contains noise and inconsistencies that can negatively affect model performance.

# #**TASK 5: CONVERT TEXT TO NUMERICAL(TF- IDF)**

In [194]:
tfidf = TfidfVectorizer(max_features=100)
text_features = tfidf.fit_transform(df["combined_text"]).toarray()

#.*Why ML Models Cannot Work Directly With text.*
Machine Learning models work using mathematical calculations and can only understand numerical data, not raw text. Text data like words or sentences must first be converted into numbers before it can be used for model training.

#*.What TF-IDF Represents*
TF-IDF (Term Frequency  Inverse Document Frequency) is a technique used to convert text into numerical values by measuring how important a word is in a document compared to all other documents.

#**#TASK 6: ENCODE EDUCATION**

In [195]:
le = LabelEncoder()
df['Education_encoded'] = le.fit_transform(df['Education'])

print("Education Encoding Mapping:")
for cls, val in zip(le.classes_, le.transform(le.classes_)):
    print(cls, "->", val)

Education Encoding Mapping:
B.Sc -> 0
B.Tech -> 1
M.Tech -> 2
MBA -> 3
PhD -> 4

#*.Explain the difference between them.*
#*.Label Encoding or One-Hot Encoding*

Label Encoding  converts text to  assigns numbers


One Hot Encoding  creates separate  binary columns

#TASK 7: FEATURE & TARGET SEPARATION

In [196]:
X = df[['combined_text',
        'Experience (Years)',
        'Salary Expectation ($)',
        'Projects Count',
        'Education_encoded']]

y = df['Recruiter Decision']

#2.*Why Recruiter Decision Should Not Be Included in X.*
Model should not see answer during training.

#**#TASK 8: TRAIN-TEST SPLIT**

In [197]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

print("Training shape:", X_train.shape)
print("Testing shape:", X_test.shape)

Training shape: (800, 5)
Testing shape: (200, 5)

#*. Why TrainTest Split is Necessary*

To test model on unseen data and avoid overfitting.

.Training data (80%)  used to train the model

.Testing data (20%)  used to evaluate the model

#*. What Overfitting Means*
Overfitting occurs when a machine learning model learns the training data too well, including noise and small details, but performs poorly on new data.

#**#TASK 9: FEATURE SCALING**

In [198]:
preprocessor = ColumnTransformer(
    transformers=[
        ('text', TfidfVectorizer(max_features=500), 'combined_text'),
        ('num', StandardScaler(),
         ['Experience (Years)',
          'Salary Expectation ($)',
          'Projects Count',
          'Education_encoded'])
    ])

#* Why scaling is important.*
Scaling is important because it brings all numerical features to the same range, ensuring equal importance, improving model accuracy, and helping algorithms like Logistic Regression, SVM, and KNN perform better.

#* Which models require scaling*
Models like Logistic Regression, SVM, KNN, Neural Networks, and K-Means require scaling because they depend on distance calculations or gradient descent. Tree-based models such as Decision Tree and Random Forest do not require scaling.

#**#TASK 10: MODEL TRAINING**

#*Logistic Regression*

In [199]:
log_model = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression(max_iter=1000))
])

log_model.fit(X_train, y_train)

y_pred_lr = log_model.predict(X_test)
acc_lr = accuracy_score(y_test, y_pred_lr)

print("Logistic Regression Accuracy:", acc_lr)
print("Logistic Regression Trained Successfully")

Logistic Regression Accuracy: 0.98
Logistic Regression Trained Successfully

#*Random Forest*

In [200]:
rf_model = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))
])

rf_model.fit(X_train, y_train)

y_pred_rf = rf_model.predict(X_test)
acc_rf = accuracy_score(y_test, y_pred_rf)
print("Random Forest Accuracy:", acc_rf)
print("Random Forest Trained Successfully:")

Random Forest Accuracy: 0.95
Random Forest Trained Successfully:

#*Support Vector Machine (SVM)*

In [201]:
svm_model = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', SVC())
])

svm_model.fit(X_train, y_train)

y_pred_svm = svm_model.predict(X_test)
acc_svm = accuracy_score(y_test, y_pred_svm)

print("SVM Accuracy:", acc_svm)

print("SVM Trained Successfully")

SVM Accuracy: 0.97
SVM Trained Successfully

#*K-Nearest Neighbors (KNN)*

In [202]:
knn_model = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', KNeighborsClassifier())
])

knn_model.fit(X_train, y_train)

y_pred_knn = knn_model.predict(X_test)
acc_knn = accuracy_score(y_test, y_pred_knn)

print("KNN Accuracy:", acc_knn)

print("KNN Trained Successfully")

KNN Accuracy: 0.94
KNN Trained Successfully

#*Store All Models*

In [203]:
models = {
    "Logistic Regression": log_model,
    "Random Forest": rf_model,
    "SVM": svm_model,
    "KNN": knn_model
}

#*.Write a short explanation of how each model works.*

1.Logistic Regression

Logistic Regression is a classification algorithm used to predict binary outcomes such as Hire or Reject.
It calculates the probability of a candidate being hired using a mathematical function called the sigmoid function.
If the probability is greater than 0.5, the model predicts Hire; otherwise Reject.



2.Random Forest

Random Forest is an ensemble learning algorithm that combines multiple decision trees.
Each tree makes a prediction, and the final result is based on majority voting.
It handles large datasets well and reduces overfitting by using many trees.



3.Support Vector Machine (SVM)

SVM finds the best boundary (hyperplane) that separates two classes.
It tries to maximize the margin between hired and rejected candidates.
SVM works well for high-dimensional data and text-based features.



4.K-Nearest Neighbors (KNN)

KNN is a distance-based algorithm.
It checks the nearest K data points to a new candidate and predicts based on majority class.
If most nearby candidates are hired, the new candidate will be predicted as hired.

#**#TASK 11: MODEL EVALUATION**

# *Predictions from all models*

In [204]:
pred_lr = log_model.predict(X_test)
pred_rf = rf_model.predict(X_test)
pred_svm = svm_model.predict(X_test)
pred_knn = knn_model.predict(X_test)

#*Accuracy score*

In [205]:
print("Accuracy Scores:\n")

print("Logistic Regression:", accuracy_score(y_test,pred_lr))
print("Random Forest:", accuracy_score(y_test,pred_rf))
print("SVM:", accuracy_score(y_test,pred_svm))
print("KNN:", accuracy_score(y_test,pred_knn))

Accuracy Scores:

Logistic Regression: 0.98
Random Forest: 0.95
SVM: 0.97
KNN: 0.94

#*Classification report*

In [206]:
print("\nClassification Reports:\n")

print("Logistic Regression Report\n", classification_report(y_test, pred_lr))
print("Random Forest Report\n", classification_report(y_test, pred_rf))
print("SVM Report\n", classification_report(y_test, pred_svm))
print("KNN Report\n", classification_report(y_test, pred_knn))

Classification Reports:

Logistic Regression Report
               precision    recall  f1-score   support

           0       0.94      0.98      0.96        46
           1       0.99      0.98      0.99       154

    accuracy                           0.98       200
   macro avg       0.97      0.98      0.97       200
weighted avg       0.98      0.98      0.98       200

Random Forest Report
               precision    recall  f1-score   support

           0       0.97      0.80      0.88        46
           1       0.94      0.99      0.97       154

    accuracy                           0.95       200
   macro avg       0.96      0.90      0.92       200
weighted avg       0.95      0.95      0.95       200

SVM Report
               precision    recall  f1-score   support

           0       0.93      0.93      0.93        46
           1       0.98      0.98      0.98       154

    accuracy                           0.97       200
   macro avg       0.96      0.96      0.96       200
weighted avg       0.97      0.97      0.97       200

KNN Report
               precision    recall  f1-score   support

           0       0.90      0.83      0.86        46
           1       0.95      0.97      0.96       154

    accuracy                           0.94       200
   macro avg       0.93      0.90      0.91       200
weighted avg       0.94      0.94      0.94       200

#*Comparison table*

In [207]:
comparison = pd.DataFrame({
    "Model Name": ["Logistic Regression", "Random Forest", "SVM", "KNN"],
    "Accuracy": [acc_lr, acc_rf, acc_svm, acc_knn]
})

print("\nModel Comparison Table:")
print(comparison)

# Best model
best_model_row = comparison.sort_values(by="Accuracy", ascending=False).iloc[0]

print("\nBest Performing Model:", best_model_row["Model Name"])
print("Best Accuracy:", best_model_row["Accuracy"])

Model Comparison Table:
            Model Name  Accuracy
0  Logistic Regression      0.98
1        Random Forest      0.95
2                  SVM      0.97
3                  KNN      0.94

Best Performing Model: Logistic Regression
Best Accuracy: 0.98

#* Which model performed best?*
Logistic Regression performed the best with an accuracy of 0.98%, which is higher than Random Forest, SVM, and KNN.

#*.Why might it perform better on this dataset?*
Logistic Regression performed better because it is well suited for binary classification and works efficiently with TF-IDF text features and scaled numerical data. The dataset is likely linearly separable, allowing Logistic Regression to achieve higher accuracy with less overfitting compared to other models.

#**#TASK 12: PIPELINE AND GRIDSEARCH**

In [208]:
svm_pipe = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', SVC(probability=True))
])

param_grid = {
    'classifier__C': [0.1, 1, 10],
    'classifier__kernel': ['linear', 'rbf']
}

grid = GridSearchCV(svm_pipe, param_grid, cv=5)
grid.fit(X_train, y_train)

print("Best Parameters:", grid.best_params_)
print("Best CV Score:", grid.best_score_)

final_model = grid.best_estimator_

Best Parameters: {'classifier__C': 10, 'classifier__kernel': 'linear'}
Best CV Score: 0.98375

#*Explain why pipelines are used in production systems.*
Pipelines are used in production systems to automate preprocessing and model training steps, ensure consistency, prevent data leakage, and make deployment easier. They help maintain a structured and reliable machine learning workflow.

#**#TASK 13: HIRING PREDICTION FUNCTION**

In [209]:
def predict_hiring(skills, experience, education,
                   certifications, job_role,
                   projects, salary):

    raw_text = f"{skills} {certifications} {job_role}"
    cleaned = clean_text(raw_text)

    try:
        edu_encoded = le.transform([education])[0]
    except:
        edu_encoded = 0

    data = pd.DataFrame({
        'combined_text':[cleaned],
        'Experience (Years)':[experience],
        'Salary Expectation ($)':[salary],
        'Projects Count':[projects],
        'Education_encoded':[edu_encoded]
    })

    pred = final_model.predict(data)[0]
    prob = final_model.predict_proba(data)[0]

    result = "Hired" if pred==1 else "Rejected"
    confidence = max(prob)*100

    print("Decision:", result)
    print("Confidence:", round(confidence,2),"%")

#**predicting_hiring**

In [210]:
predict_hiring(
    skills="Python, Deep Learning, NLP, TensorFlow, SQL",
    experience=6,
    education="Master",
    certifications="AI Certification, AWS",
    job_role="AI Engineer",
    projects=10,
    salary=90000
)

Decision: Hired
Confidence: 100.0 %

# **#TASK 14 :FINAL CONCLUSION   AI HIRING PREDICTION SYSTEM**

#*.Dataset Understanding:*

The dataset contained resume details such as skills, experience, education, certifications, salary expectations, and project count. These features were used to predict whether a candidate would be hired or rejected based on recruiter decisions

#*.Key Preprocessing Steps:*

Data cleaning involved removing unnecessary columns like Resume_ID and Name and converting the target variable into numeric format. Text data from skills, certifications, and job roles was combined and processed using TF-IDF vectorization. Education was encoded, and numerical features like experience, salary, and projects were scaled for better performance.

#*.Best Performing Model:*

Multiple models such as Logistic Regression, Random Forest, Support Vector Machine, and K-Nearest Neighbors were trained and evaluated. The best-performing model was selected based on accuracy and classification results to provide reliable hiring predictions.

#*.What You Learned:*
This project helped in understanding the complete machine learning workflow including data preprocessing, feature engineering, model training, evaluation, and prediction. It also improved knowledge of text processing and model comparison techniques

#*.Real-World HR Automation:*
This project demonstrates how AI can be used in HR analytics to automate resume screening. The system helps recruiters quickly identify suitable candidates, reduces manual effort, and improves hiring decisions using data-driven insights.

In [211]:
print("FINAL CONCLUSION")
print("AI-Based Hiring Prediction project completed successfully.")
print("The dataset was cleaned, preprocessed, and transformed properly.")
print("Text features were converted using TF-IDF vectorization.")
print("Education was encoded and numerical features were scaled.")
print("Logistic Regression, Random Forest, SVM, and KNN models were trained and compared.")
print("The best performing model was selected based on accuracy and evaluation metrics.")
print("The system can now predict whether a candidate will be Hired or Rejected.")
print("This project simulates a real-world AI resume screening system used in HR analytics.")
print("The model helps automate hiring decisions and improves recruitment efficiency.")

FINAL CONCLUSION
AI-Based Hiring Prediction project completed successfully.
The dataset was cleaned, preprocessed, and transformed properly.
Text features were converted using TF-IDF vectorization.
Education was encoded and numerical features were scaled.
Logistic Regression, Random Forest, SVM, and KNN models were trained and compared.
The best performing model was selected based on accuracy and evaluation metrics.
The system can now predict whether a candidate will be Hired or Rejected.
This project simulates a real-world AI resume screening system used in HR analytics.
The model helps automate hiring decisions and improves recruitment efficiency.